.main-page .content p,
.blog-page .content p {
  display: none;
}

.main-page .mySlides {
  grid-template-columns: repeat(2, 48%);
}

.main-page figure,
.blog-page figure,
.article figure {
  position: relative;
  padding-bottom: 400px;
  overflow: hidden;
}

.main-page img,
.blog-page img,
.article img {
  display: block;
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.carousel-parent {
  position: relative;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.carousel-buttons a {
  padding: 20px;
  background-color: #000;
  color: aliceblue;
}
